* {
  box-sizing: border-box;
}

html{
	height:100vh;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
/*  border:2px solid black;*/
}

.content #output{
	display:flex;
	flex-direction: column;
	max-height: 75vh;
	max-width:100%;
	margin:0px;
	padding:0px;
	/*border:2px solid black;*/
}

.upload{
	display: flex;	
	flex-direction: column;
	/*border:1px solid red;*/
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ddd;
  /*border:1px solid blue;*/
}

.refresh{
	display: flex;	
	flex-direction: column;
	/*border:1px solid red;*/
}

#start-btn {
  font-size: 36px;
  padding: 20px 40px 20px 80px ;
  margin-top: 0;
  border-radius: 10px;
  background:url("thanos_idle.png") white 15px no-repeat;
  background-size: 50px;
}

#refresh-btn{
	display:none;
	align-items: center;
}

.dust {
  position: absolute;
}