* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
/*  border:2px solid black;*/
}

.content #output{
	display:flex;
	flex-direction: column;
	max-height: 75vh;
	max-height: calc(var(--vh, 1vh) * 75);
	max-width:100%;
	margin:0px;
	padding:0px;
	/*border:2px solid black;*/
}

.upload{
	display: flex;
	flex-direction: column;
	margin-bottom: 2vh;
	margin-bottom: calc(var(--vh, 1vh) * 2);
	/*border:1px solid red;*/
	text-align: center;
}

#file{
	text-align: center;
	margin:auto;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ddd;
  align-content: flex-end;
  /*border:1px solid blue;*/
  padding:0;
  margin:0;
}

.refresh{
	display: flex;	
	flex-direction: column;
	/*border:1px solid red;*/
}

#start-btn {
  font-size: 36px;
  padding: 20px 40px 20px 80px ;
  margin-top: 2vh;
  margin-top: calc(var(--vh, 1vh) * 2);
  border-radius: 10px;
  background:url("thanos_idle.png") white 15px no-repeat;
  background-size: 50px;
}

#refresh-btn{
	display:none;
	align-items: center;
}

.dust {
  position: absolute;
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media screen and (max-width:480px)  {
	#start-btn {
	  font-size: 50px;
	  padding: 20px 40px 20px 80px ;
	  margin-top: 2vh;
	  margin-top: calc(var(--vh, 1vh) * 2);
	  border-radius: 10px;
	  background:url("thanos_idle.png") white 8px no-repeat;
	  background-size: 70px;
	}
}